header{
  background: #d3d3d3;
}

h1{
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2{
  text-transform: uppercase;
  color: #191970;

}
section{
  background: #808080;
}
a{
  background-color: #99999b;
  text: #000000;
}
aside{
  display: none;
}